# Ignore virtual environment
venv/
ENV/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore uploads/results
uploads/
results/

# Ignore system files
.DS_Store

# Ignore VS Code settings
.vscode/
